Build started...
Build succeeded.
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;
CREATE TABLE public."Psychologists" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "OrganizationListId" integer NOT NULL,
    "Name" text NOT NULL,
    "Password" character varying(100) NOT NULL,
    "Qualifications" text NOT NULL,
    "WhatsApp" text NOT NULL,
    "ScheduleId" integer NOT NULL,
    "Email" text NOT NULL,
    "ProfilePicture" text NOT NULL,
    "SessionDurationMinutes" integer NOT NULL,
    CONSTRAINT "PK_Psychologists" PRIMARY KEY ("Id")
);

CREATE TABLE public."DiaryPages" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "SleepSection" integer,
    "EventsSection" integer,
    "FeelingsSection" integer,
    "PredominantThoughtsSection" integer,
    "DailyHabitsSection" integer,
    "NotesSection" integer,
    "DayDescriptionSection" integer,
    "PsychologistId" integer NOT NULL,
    CONSTRAINT "PK_DiaryPages" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_DiaryPages_Psychologists_PsychologistId" FOREIGN KEY ("PsychologistId") REFERENCES public."Psychologists" ("Id") ON DELETE CASCADE
);

CREATE TABLE public."Patients" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Password" character varying(100) NOT NULL,
    "Name" character varying(100) NOT NULL,
    "Email" text NOT NULL,
    "Age" integer NOT NULL,
    "ProfilePicture" text,
    "PsychologistId" integer NOT NULL,
    "OrganizationListId" integer NOT NULL,
    CONSTRAINT "PK_Patients" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Patients_Psychologists_PsychologistId" FOREIGN KEY ("PsychologistId") REFERENCES public."Psychologists" ("Id") ON DELETE CASCADE
);

CREATE TABLE public."ConsultationSummaries" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "PatientId" integer NOT NULL,
    "Text" text NOT NULL,
    "PsychologistId" integer NOT NULL,
    "ConsultationDateTime" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_ConsultationSummaries" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_ConsultationSummaries_Patients_PatientId" FOREIGN KEY ("PatientId") REFERENCES public."Patients" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_ConsultationSummaries_Psychologists_PsychologistId" FOREIGN KEY ("PsychologistId") REFERENCES public."Psychologists" ("Id") ON DELETE CASCADE
);

CREATE TABLE public."Indications" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "PatientId" integer,
    "ImageLink" text NOT NULL,
    "Title" text NOT NULL,
    "Text" text NOT NULL,
    "PsychologistId" integer NOT NULL,
    CONSTRAINT "PK_Indications" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Indications_Patients_PatientId" FOREIGN KEY ("PatientId") REFERENCES public."Patients" ("Id") ON DELETE SET NULL,
    CONSTRAINT "FK_Indications_Psychologists_PsychologistId" FOREIGN KEY ("PsychologistId") REFERENCES public."Psychologists" ("Id") ON DELETE CASCADE
);

CREATE TABLE public."Notifications" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "IsPushNotification" boolean NOT NULL,
    "ExpirationDate" timestamp with time zone NOT NULL,
    "UserId" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "PsychologistId" integer NOT NULL,
    "NotificationType" text NOT NULL,
    "Link" text NOT NULL,
    "Title" text NOT NULL,
    "IsSeen" boolean NOT NULL,
    CONSTRAINT "PK_Notifications" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Notifications_Patients_UserId" FOREIGN KEY ("UserId") REFERENCES public."Patients" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_Notifications_Psychologists_PsychologistId" FOREIGN KEY ("PsychologistId") REFERENCES public."Psychologists" ("Id") ON DELETE CASCADE
);

INSERT INTO public."Psychologists" ("Id", "Email", "Name", "OrganizationListId", "Password", "ProfilePicture", "Qualifications", "ScheduleId", "SessionDurationMinutes", "WhatsApp")
VALUES (1, 'johndoe@example.com', 'Dr. John Doe', 0, 'password123', 'johndoe.jpg', 'Ph.D. in Psychology', 1, 60, '+123456789');
INSERT INTO public."Psychologists" ("Id", "Email", "Name", "OrganizationListId", "Password", "ProfilePicture", "Qualifications", "ScheduleId", "SessionDurationMinutes", "WhatsApp")
VALUES (2, 'janesmith@example.com', 'Dr. Jane Smith', 0, 'password123', 'janesmith.jpg', 'M.Sc. in Clinical Psychology', 2, 45, '+987654321');

INSERT INTO public."Patients" ("Id", "Age", "Email", "Name", "OrganizationListId", "Password", "ProfilePicture", "PsychologistId")
VALUES (1, 30, 'joao@example.com', 'Jo├úo', 1, '12345678', 'alice.jpg', 1);
INSERT INTO public."Patients" ("Id", "Age", "Email", "Name", "OrganizationListId", "Password", "ProfilePicture", "PsychologistId")
VALUES (2, 25, 'bobbrown@example.com', 'Bob Brown', 1, '67890', 'bob.jpg', 2);

CREATE INDEX "IX_ConsultationSummaries_PatientId" ON public."ConsultationSummaries" ("PatientId");

CREATE INDEX "IX_ConsultationSummaries_PsychologistId" ON public."ConsultationSummaries" ("PsychologistId");

CREATE INDEX "IX_DiaryPages_PsychologistId" ON public."DiaryPages" ("PsychologistId");

CREATE INDEX "IX_Indications_PatientId" ON public."Indications" ("PatientId");

CREATE INDEX "IX_Indications_PsychologistId" ON public."Indications" ("PsychologistId");

CREATE INDEX "IX_Notifications_PsychologistId" ON public."Notifications" ("PsychologistId");

CREATE INDEX "IX_Notifications_UserId" ON public."Notifications" ("UserId");

CREATE INDEX "IX_Patients_PsychologistId" ON public."Patients" ("PsychologistId");

SELECT setval(
    pg_get_serial_sequence('public."Psychologists"', 'Id'),
    GREATEST(
        (SELECT MAX("Id") FROM public."Psychologists") + 1,
        nextval(pg_get_serial_sequence('public."Psychologists"', 'Id'))),
    false);
SELECT setval(
    pg_get_serial_sequence('public."Patients"', 'Id'),
    GREATEST(
        (SELECT MAX("Id") FROM public."Patients") + 1,
        nextval(pg_get_serial_sequence('public."Patients"', 'Id'))),
    false);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20250109160836_InitialCreate', '9.0.0');

COMMIT;


